fastapi==0.112.2
uvicorn==0.30.5

sqlmodel
h11
wheel
sniffio
colorama
click
idna
setuptools
starlette
pydantic
anyio
passlib
pytest
packaging
pygments
pluggy
iniconfig
httpx
python-jose
bcrypt
cryptography
platformdirs
tomli
httpcore
certifi
zipp
sqlalchemy
pytest-asyncio
